:root {
    --primary-color: #2ecc71; /* Vibrant Green */
    --secondary-color: #0aa249e8; /* Darker Green */
    --gradient-iron: linear-gradient(45deg, rgba(46, 204, 113, 0.5), rgba(39, 174, 96, 0.5));
    --gradient-hacker: linear-gradient(45deg, rgba(46, 204, 113, 0.5), rgba(60, 179, 113, 0.5));

    --warning-color: #e74c3c;
    --text-color: #333;
    --light-text-color: #aaa;
    --bg-color: #f8f9fa;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

/* Primary color button styling */
.primary-color {
    background-color: var(--primary-color);
}

.primary-color:hover {
    background-color: var(--secondary-color);
}

/* Navbar Styles */
nav.bg-white {
    background-color: var(--primary-color);
}

nav a:hover {
    color: var(--secondary-color);
}

/* Buttons */
a.bg-blue-500,
button.bg-blue-500 {
    background-color: var(--primary-color);
}

a.bg-blue-500:hover,
button.bg-blue-500:hover {
    background-color: var(--secondary-color);
}

/* Tags */
.tag {
    background-color: var(--secondary-color);
}

/* Gradients */
.gradient-iron {
    background: var(--gradient-iron);
}

.gradient-hacker {
    background: var(--gradient-hacker);
}

/* Puedes ajustar el footer para usar tonos verdes oscuros */
.gradient-footer {
    background: linear-gradient(90deg, rgba(46, 204, 113, 0.95), rgba(0, 40, 0, 0.95));
}

/* Error Messages */
.fas.fa-exclamation-triangle {
    color: var(--warning-color);
}

#projectsContainer,
#articlesContainer,
#errorContainer {
    min-height: 100vh;
}
